<div class="main">

  <h2>Sobre la información disponible</h2>
  <p>
    <blockquote>
      <a href="https://github.com/cristianReynaga/Dataset-Arte-Electronico-Argentino" class="">Dataset de Arte Electrónico argentino</a> es un <em>work in progress</em> de una investigación y recopilación sobre la escena de arte electrónico desde los 90s hasta diciembre 2014. Esta tarea surgió a raíz del trabajo documental que estoy realizando: <a href="https://vimeo.com/76021448" class="">Amplitud</a>, en donde entrevisté a referentes de la escena local (artistas, curadores, docentes, investigadores) para darle forma y perspectiva -y por supuesto debate- a mis presunciones sobre el crecimiento-decrecimiento de la escena.
    </blockquote>
  </p>

  <h2>Sobre este sitio</h2>
  <p>
    Simplemente una interfase <em>human friendly</em> para consultar a los datos disponibles. Alternativamente, es posible consultar esta información directamente a traves de la <a href="https://api.arte-electronico.cyberpunk.com.ar/" class="">API <sup>[*]</sup></a> pública. Más información sobre su uso {{#link-to "help" class=""}}aquí{{/link-to}}.
  </p>

  <p>
    <sub>
      [*] Respetando la especificacion <a href="http://jsonapi.org/">JSON</a>.
    </sub>
  </p>

  <h2>Contribuciones</h2>
  <p>Si estas interesado en contribuir, forkealo a cualquiera de los proyectos y realizá un <code>PR</code>!</p>

  <h2>Errores</h2>
  <p>Encontraste un error? Por favor, reportalo <a href="https://github.com/lvm/api-dataset-arte-electronico-argentino/issues">aca para la API</a> y <a href="https://github.com/lvm/site-dataset-arte-electronico-argentino/issues">aca para el sitio</a> (alternativamente, segui las instrucciones de <strong>Contribuciones</strong>)</p>

  <h2>Creditos</h2>
  <ul>
    <li><a href="https://github.com/cristianReynaga/Dataset-Arte-Electronico-Argentino">Dataset Original</a> por <a href="http://github.com/cristianreynaga">Cristian Reynaga</a></li>
    <li><a href="https://github.com/lvm/api-dataset-arte-electronico-argentino">JSON API</a> y <a href="https://github.com/lvm/site-dataset-arte-electronico-argentino">sitio web</a> por <a href="http://github.com/lvm">Mauro Lizaur</a></li>
  </ul>
</div>

{{outlet}}
